{{/* {{template "admin" .}} */}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Administration</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/static/admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="/static/admin/vendors/base/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
        <link rel="stylesheet" href="/static/admin/css/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="/static/admin/images/favicon.png"/>
        <style>
            .content-wrapper{
                background: white;
            }
            label {
                font-weight: bold;
            }
            .notie-container {
                z-index: 50000;
            }
        </style>

        {{/* {{block "css" . }}

        {{end}} */}}
    </head>
    <body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="ti-view-list"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile">
                        <a class="nav-link" href="/">
                            Public Site
                        </a>
                    </li>
                    <li class="nav-item nav-profile">
                        <a class="nav-link" href="/user/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">
                            <i class="ti-shield menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                           aria-controls="ui-basic">
                            <i class="ti-palette menu-icon"></i>
                            <span class="menu-title">Reservations</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="/admin/reservations-new">New
                                        Reservations</a></li>
                                <li class="nav-item"><a class="nav-link" href="/admin/reservations-all">All
                                        Reservations</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/reservations-calendar">
                            <i class="ti-layout-list-post menu-icon"></i>
                            <span class="menu-title">Reservation Calendar</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    {{/* <h4 class="font-weight-bold mb-0">{{block "page-title" .}} {{end}}</h4> */}}
                                    <h4 class="font-weight-bold mb-0">Reservation Calendar</h4>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{/* {{define "content"}} */}}
                        {{$now:=index .Data "now"}}
                        {{$rooms:=index .Data "rooms"}}
                        {{$dim := index .IntMap "days_in_month"}}
                        {{$curMonth := index .StringMap "this_month"}}
                        {{$currYear := index .StringMap "this_month_year"}}
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>{{formatDate $now "January"}} {{formatDate $now "2006"}}</h3>
                            </div>
                            <div style="float:left">
                                <a class="btn btn-sm btn-outline-secondary" href="/admin/reservations-calendar?y={{index .StringMap "last_month_year"}}&m={{index .StringMap "last_month"}}">&lt;&lt;</a>
                            </div>
                            <div style="float:right">
                                <a class="btn btn-sm btn-outline-secondary" href="/admin/reservations-calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}">&gt;&gt;</a>
                            </div>
                            <div class="clearfix"></div>

                            <form method="post" action="/admin/reservations-calendar">
                            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                            <input type="hidden" name="m" value="{{index .StringMap "this_month"}}">
                            <input type="hidden" name="y" value="{{index .StringMap "this_month_year"}}">
                            {{range $rooms}}
                                {{$roomID := .ID}}
                                {{/* $.Data to get the Data outside the loop*/}}
                                {{$blocks := index $.Data (printf "block_map_%d" .ID)}}
                                {{$reservations := index $.Data (printf "reservation_map_%d" .ID)}}

                                <h4 class="mt-4">{{.RoomName}}</h4>

                                <div class="table-response">
                                    <table class="table table-bordered table-sm">
                                        <tr class="table-dark">
                                            {{range $index := iterate $dim}}
                                                <td class="text-center">
                                                    {{add $index 1}}
                                                </td>
                                            {{end}}
                                        </tr>

                                        <tr>
                                            {{range $index := iterate $dim}}
                                            <td class="text-center">
                                                {{if gt (index $reservations (printf "%s-%s-%d" $currYear $curMonth (add $index 1))) 0}}
                                                    <a href="/admin/reservations/cal/{{index $reservations (printf "%s-%s-%d" $currYear $curMonth (add $index 1))}}">
                                                        <span class="text-danger">R</span>
                                                    </a>
                                                {{else}}
                                                <input 
                                                    {{if gt (index $blocks (printf "%s-%s-%d" $currYear $curMonth (add $index 1))) 0 }}
                                                        checked
                                                        name="remove_block_{{$roomID}}_{{printf "%s-%s-%d" $currYear $curMonth (add $index 1)}}"
                                                        value="{{index $blocks (printf "%s-%s-%d" $currYear $curMonth (add $index 1))}}"
                                                    {{else}}
                                                        name="add_block_{{$roomID}}_{{printf "%s-%s-%d" $currYear $curMonth (add $index 1)}}"
                                                        value="1"
                                                    {{end}}
                                                        type="checkbox">
                                                {{end}}
                                            </td>
                                            {{end}}
                                        </tr>
                                    </table>
                                </div>
                            {{end}}

                            <hr>

                            <input type="submit" class="btn btn-primary" value="Save Changes">
                            </form>
                        </div>
                        {{/* {{end}} */}}
                    </div>

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">

                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="/static/admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->

    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/static/admin/js/off-canvas.js"></script>
    <script src="/static/admin/js/hoverable-collapse.js"></script>
    <script src="/static/admin/js/template.js"></script>
    <script src="/static/admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/admin/js/dashboard.js"></script>
    <!-- End custom js for this page-->

    <script>
        let attention = Prompt();

        function notify(msg, msgType) {
            notie.alert({
                type: msgType,
                text: msg,
            })
        }

        function notifyModal(title, text, icon, confirmButtonText) {
            Swal.fire({
                title: title,
                html: text,
                icon: icon,
                confirmButtonText: confirmButtonText
            })
        }

        {{with .Error}}
        notify("{{.}}", "error")
        {{end}}

        {{with .Flash}}
        notify("{{.}}", "success")
        {{ end }}

        {{with .Warning}}
        notify("{{.}}", "warning")
        {{ end }}
    </script>

    {{/* {{block "js" . }}

    {{end}} */}}
    </body>

    </html>


{{/* {{end}} */}}